<div class="container d-flex justify-content-center mt-5">
  <div class="w-50 p-5 text-center border border-secondary">
    <h2>Welcome to login</h2><br>
    <div class="m-3">
          <label for="">Username : </label><input class="border" type="text" placeholder="Enter your name"><br>
    </div>
    <div class="m-3">
      <label for="">Password : </label><input type="border" placeholder="Enter your password"><br>
    </div>
    <!-- <button class="btn btn-primary" routerLink="/data-binding">Login</button> -->
    <button class="btn btn-primary" (click)="loginData()">Login</button>
  </div>
</div>
